body {
    background: #23211D;
    color: #23211D;
    padding-top: 2em;
}

a {
    cursor: pointer;
    color: #922F0D;
}

a:hover {
    color: #A75E44;
}

nav > a.name {
    float: right;
}

nav > a {
    text-decoration: none;
}

nav {
    background: #B9B9B9;
    border: 1px dashed #23211D;
    border-bottom: none;
    padding: 0.5em;
}

#section-content {
    background: #CACACA;
    border: 1px dashed #23211D;
}

#section-content, nav {
    padding: 0.5em;
    max-width: 920px;
    margin: 0 auto;
}
