body {
    background: #FAEDCA;
    color: #F2C078;
}

a {
    cursor: pointer;
    color: #F2C078;
}

a:hover {
    color: #FE5D26;
}

nav a {
    color: #FE5D26;
}

nav a:hover {
    color: #F2C078;
}

nav > a.name {
    float: right;
}

nav {
    background: #C1DBB3;
    padding: 0.5em;
}

#section-content {
    background: #7EBC89;
    border: 1px dashed #00213B;
}

#section-content, nav {
    padding: 0.5em;
    max-width: 920px;
    margin: 0 auto;
}
